<!-- app/views/restaurants/index.html.erb -->
<h1 class="flex-center mt-5">Restaurants</h1>

<table class="table table-striped  m-2 mt-5">
  <thead>
    <tr>
      <th>Restaurante Name</th>
      <th>Restaurante Adress</th>
    </tr>
  </thead>


<tbody id="TablaOrdenesTrabajos">
  <% @restaurants.each do |restaurant| %>
  <div controller="form">
          <%= simple_form_for (restaurant), html: { data: { action: "ajax:success->form#onPostSuccess" } } do |f| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.address %></td>
          <td><%= f.input :address, input_html: {data: {action: "input->filter#update propertychange->filter#update"}} %>  </td>
          <td><%= f.input :categoria, as: :radio_buttons, collection: Restaurant::CATEGORIA, wrapper: :vertical_collection_inline%></td>
          <td><%= f.button :submit, name="Save", :class => "btn btn-primary" %>  </td>
          <td><%= link_to "Delete", restaurant, method: :delete, remote: true %></td>
          <% end %>
        </tr>
    <% end %>
  </div>
</tbody>






<!-- app/views/pages/home.html.erb -->
<div class="flex-center mt-4" data-controller="counter">
  <div class="counter">
    <span data-target="counter.count"><%= @restaurant_count %></span>
  </div>
</div>
